<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(user, alerts, formatter)"
      th:data-theme="${user.theme.name.toLowerCase}">
<head th:replace="~{components :: head('Browse Programs')}"></head>
<body>
<div th:replace="~{components :: student-navbar(${user.displayName})}"></div>
<div
    class="bg-base-100 flex flex-col items-center mx-auto min-h-screen m-10 lg:w-1/2 md:w-3/4 sm:w-7/8 gap-5">
  <div class="fixed bottom-0 right-0 w-1/4 z-50 m-8">
    <div th:replace="~{components :: alerts(${alerts})}"></div>
  </div>
  <div class="card card-normal w-full bg-base-200">
    <div class="card-body gap-10 overflow-x-auto">
      <h1 class="card-title">Browse Programs</h1>
      <!-- Filter Form -->
      <div th:replace="~{this :: filterForm('/programs/search')}"></div>
      <div th:fragment="programTable" id="programTable" class="contents">
        <div class="flex flex-col gap-4" th:each="programAndStatus : ${programAndStatuses}">
          <div class="collapse collapse-arrow bg-base-300">
            <input type="checkbox"/>
            <div class="collapse-title">
              <div class="card-actions justify-between">
                <h1 class="card-title"
                    th:text="${programAndStatus.program.title} + ': ' + ${formatter.formatTerm(programAndStatus.program.semester, programAndStatus.program.year)}"></h1>
                <div th:switch="${programAndStatus.status.name}">
                  <!-- If the application has not opened yet -->
                  <div th:case="UPCOMING" class="badge badge-neutral text-info">
                    Upcoming
                  </div>
                  <div th:case="CLOSED" class="badge badge-neutral text-error">
                    Closed
                  </div>
                  <div th:case="OPEN" class="badge badge-neutral text-success">
                    Open
                  </div>
                  <div th:case="*"
                       th:replace="~{components :: statusBadge(${programAndStatus.status.name})}"></div>
                </div>
              </div>
              <p th:text="${formatter.formatDateRange(programAndStatus.program.startDate, programAndStatus.program.endDate)}"></p>
            </div>
            <div class="collapse-content flex flex-col gap-4">
              <p class="whitespace-pre-line" th:text="${programAndStatus.program.description}"></p>
              <table class="table table-compact w-fit ">
                <tbody>
                <tr class="border-base-200 border-y-2">
                  <td>Faculty Lead</td>
                  <td th:text="${formatter.formatFacultyLeads(programAndStatus.facultyLeads)}"></td>
                </tr>
                <tr class="border-base-200 border-y-2">
                  <td>Application Opens</td>
                  <td th:text="${formatter.formatLocalDate(programAndStatus.program.applicationOpen)}"></td>
                </tr>
                <tr class="border-base-200 border-y-2">
                  <td>All Documents Due</td>
                  <td th:text="${formatter.formatLocalDate(programAndStatus.program.documentDeadline)}"></td>
                </tr>
                <tr class="border-base-200 border-y-2">
                  <td>Application Closes</td>
                  <td th:text="${formatter.formatLocalDate(programAndStatus.program.applicationClose)}"></td>
                </tr>
                </tbody>
              </table>
              <div class="card-actions justify-end">
                <a th:if="${programAndStatus.status.name == 'OPEN'}"
                   th:href="@{/programs/{id}/apply(id=${programAndStatus.program.id})}"
                   class="btn btn-primary">Apply</a>
                <a th:if="${programAndStatus.status.name == 'APPLIED' || programAndStatus.status.name == 'ENROLLED'
                  || programAndStatus.status.name == 'WITHDRAWN' || programAndStatus.status.name == 'CANCELLED'}"
                   th:href="@{/applications/{id}(id=${programAndStatus.program.id})}"
                   class="btn btn-primary">View Application</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{components :: footer}"></div>
<div th:replace="~{components :: session-timeout-script}"></div>
</body>
</html>

<form xmlns:th="http://www.thymeleaf.org"
      th:fragment="filterForm(path)"
      id="filterForm">
  <div xmlns:th="http://www.thymeleaf.org" th:fragment="filterForm(path)">
    <div class="flex gap-4 items-center">
      <span class="text-lg">Filters:</span>
      <!-- Keyword search -->
      <label>
        <input type="text"
               name="nameFilter"
               placeholder="Search programs..."
               class="input"
               th:value="${keyword}"
               th:hx-get="@{${path}}"
               hx-trigger="input delay:300ms"
               hx-include="#filterForm"
               autocomplete="off"
               hx-target="#programTable"
               hx-swap="outerHTML" />
      </label>

      <!-- Keyword search Faculty Lead -->
      <label>
        <div class="tooltip" data-tip="Hold Ctrl / ⌘ (Cmd) to select multiple">
          <select name="leadFilter" multiple
                  class="select"
                  size="3"
                  th:value="${leadKeyword}"
                  th:hx-get="@{${path}}"
                  hx-trigger="change"
                  hx-include="#filterForm"
                  autocomplete="off"
                  hx-target="#programTable"
                  hx-swap="outerHTML">
            <option th:each="lead : ${knownFacultyLeads}" th:value="${lead.username}"
                    th:text="${formatter.displayUserClean(lead)}"></option>
          </select>
        </div>
      </label>
    </div>
  </div>
</form>


