<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(name, alerts, formatter)">
<head th:replace="~{components :: head('Browse Programs')}"></head>
<body>
<div th:replace="~{components :: student-navbar(${name})}"></div>
<div class="bg-base-100 flex flex-col items-center min-h-screen m-10 gap-5">
  <div th:replace="~{components :: alerts(${alerts})}"></div>
  <div class="card card-normal w-full bg-base-200">
    <div class="card-body gap-10">
      <h1 class="card-title">Browse Programs</h1>
      <!-- Filter Form -->
      <div th:replace="~{components :: filterForm('/programs', false)}"></div>
      <div th:fragment="programTable" id="programTable" class="contents">
        <div class="flex flex-col gap-4" th:each="program, iterStat : ${programs}">
          <div class="card card-normal w-full bg-base-300">
            <div class="card-body gap-2 collapse collapse-arrow">
              <input type="radio" name="programs-accordian" />
              <div class="collapse-title gap-4">
                <div class="card-actions justify-between">
                  <h1 class="card-title" th:text=" ${program.title} + ': ' + ${formatter.formatTerm(program.semester, program.year)}"></h1>
                  <div th:switch="${programStatus[iterStat.index]}">
                    <!-- If the application has not opened yet -->
                    <div th:case="NotOpen" class="badge badge-neutral">
                      Upcoming
                    </div>
                    <div th:case="DeadPass" class="badge badge-secondary">
                      Closed
                    </div>
                    <div th:case="Open" class="badge badge-primary">
                      Open
                    </div>
                    <div th:case="*"
                         th:replace="~{components :: statusBadge(${programStatus[iterStat.index]})}"></div>
                  </div>
                </div>
                <p th:text="${formatter.formatDateRange(program.startDate, program.endDate)}"></p>
              </div>
              <div class="collapse-content flex flex-col gap-4">
                <p class="text-sm" th:text="${program.description}"></p>
                <table class="table table-compact">
                  <tbody>
                  <tr class="border-base-200 border-y-2">
                    <td>Faculty Lead</td>
                    <td th:text="${program.facultyLead}"></td>
                  </tr>
                  <tr class="border-base-200 border-y-2">
                    <td>Application Opens</td>
                    <td th:text="${formatter.formatInstant(program.applicationOpen)}"></td>
                  </tr>
                  <tr class="border-base-200 border-y-2">
                    <td>Application Closes</td>
                    <td th:text="${formatter.formatInstant(program.applicationClose)}"></td>
                  </tr>
                  </tbody>
                </table>
                <div class="card-actions justify-end">
                  <a th:if = "${programStatus[iterStat.index] == 'Open'}"
                     th:href="@{/programs/{id}/apply(id=${program.id})}"
                     class="btn btn-primary">Apply</a>
                  <a th:if = "${programStatus[iterStat.index] == 'APPLIED' || programStatus[iterStat.index] == 'ENROLLED'
                    || programStatus[iterStat.index] == 'WITHDRAWN' || programStatus[iterStat.index] == 'CANCELLED'}"
                     th:href="@{/applications/{id}(id=${program.id})}"
                     class="btn btn-primary">View Application</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{components :: footer}"></div>
</body>
</html>

