<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page(alerts, user, formatter, referer)"
      th:data-theme="${user.theme.name.toLowerCase}">

<head th:replace="~{components/head :: head('Create New Program')}"></head>
<body>

<div th:replace="~{components/admin-navbar :: admin-navbar(${user.displayName}, ${true})}"></div>

<div
    class="bg-base-100 flex flex-col items-center mx-auto min-h-screen m-10 lg:w-1/2 md:w-3/4 sm:w-7/8 gap-5">

  <div id="alerts-bar">
    <div class="fixed bottom-0 right-0 w-1/4 z-50 m-8">
      <div th:replace="~{components/alerts :: alerts(${alerts})}"></div>
    </div>
  </div>

  <div class="card card-normal w-full bg-base-200">
    <div class="card-body gap-4">

      <div class="card-actions justify-between">
        <h1 class="card-title">Create New Program</h1>
        <a th:href="${referer}" class="btn btn-primary">
          Back
        </a>
      </div>

      <form class="contents"
            hx-post="/admin/programs/new"
            hx-target="#alerts-bar"
            hx-swap="innerHTML show:window:top"
            hx-history="false">

        <label class="form-control">
          <div class="label">
            <span class="label-text">Title</span>
          </div>
          <input class="input w-full"
                 type="text"
                 name="title"
                 onkeydown="preventEnterKey(event)"
                 required/>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Description</span>
          </div>
          <textarea class="textarea w-full"
                    name="description"
                    rows="10"
                    required></textarea>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Faculty Lead</span>
          </div>
          <div class="tooltip" data-tip="Hold Ctrl / ⌘ (Cmd) to select multiple">
            <select name="facultyLeads" multiple required
                    size="5"
                    class="select w-full">
              <option th:each="lead : ${adminList}" th:value="${lead.username}"
                      th:text="${formatter.displayUser(lead)}"></option>
            </select>
          </div>
        </label>
        <label class="form-control">
          <div class="label">
            <span class="label-text">Semester</span>
          </div>
          <select class="select w-full"
                  name="semester"
                  required>
            <option value="SPRING">Spring</option>
            <option value="SUMMER">Summer</option>
            <option value="FALL">Fall</option>
          </select>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Year</span>
          </div>
          <input class="input w-full"
                 type="number"
                 name="year"
                 onkeydown="preventEnterKey(event)"
                 required/>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Application Open</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="applicationOpen"
                 required/>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Application Deadline</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="applicationClose"
                 required/>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Essential Documents Deadline</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="essentialDocsDate"
                 required/>
        </label>

        <!-- Track Payment Toggle -->
        <label class="flex items-center gap-2 mt-4">
          <input type="checkbox" name="trackPayment" id="trackPaymentToggle" class="toggle toggle-primary" />
          <span class="label-text">Track Payment?</span>
        </label>

        <label class="form-control mt-2">
          <div class="label">
            <span class="label-text">Payment Deadline</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="paymentDate"
                 id="paymentDateInput"
                 required
                 disabled />
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Payment Partners</span>
          </div>
          <div class="tooltip" data-tip="Hold Ctrl / ⌘ (Cmd) to select multiple">
            <select name="paymentPartners" multiple disabled
                    id="paymentPartnersInput"
                    size="3"
                    class="select w-full">
              <option th:each="partner : ${partnerList}" th:value="${partner.username}"
                      th:text="${formatter.displayUser(partner)}"></option>
            </select>
          </div>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">Start Date</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="startDate"
                 required/>
        </label>

        <label class="form-control">
          <div class="label">
            <span class="label-text">End Date</span>
          </div>
          <input class="input w-full"
                 type="date"
                 name="endDate"
                 required/>
        </label>

        <div th:replace="~{this :: programQuestionnaire}"></div>
        <div th:replace="~{this :: programPreReqs}"></div>

        <div class="card-actions justify-end">
          <button class="btn btn-primary w-1/4" type="submit">Create Program</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:inline="javascript">
  const toggle = document.getElementById('trackPaymentToggle');
  const paymentInput = document.getElementById('paymentDateInput');
  const paymentInput2 = document.getElementById('paymentPartnersInput');

  toggle.addEventListener('change', () => {
    if (toggle.checked) {
      paymentInput.disabled = false;
      paymentInput.required = true;
      paymentInput2.disabled = false;
    } else {
      paymentInput.disabled = true;
      paymentInput.required = false;
      paymentInput2.disabled = true;
    }
  });
  function updateCheckboxValue(textInput) {
    const index = textInput.id.split('-')[1];
    const checkbox = document.getElementById('checkbox-' + index);
    checkbox.value = textInput.value;
  }

  // Use thymeleaf to get the default questions
  var defaultQuestions =/*[[${defaultQuestions}]]*/ [];
  let questionIndex = defaultQuestions.length;

  function addRow(name, id, list) {
    // Create a new checkbox and input field

    // Create new elements
    const newRow = document.createElement('div');
    newRow.classList.add('flex', 'items-center', 'p-2', 'hover:bg-base-200', 'rounded-lg', 'group');

    // Checkbox
    const checkbox = document.createElement('input');
    checkbox.type = 'checkbox';
    checkbox.classList.add('checkbox', 'checkbox-primary', 'mr-2');
    checkbox.name = name;
    checkbox.value = ''; // You can assign a default value or leave it empty
    checkbox.id = 'checkbox-' + questionIndex;
    checkbox.checked= false;

    // Text input
    const editableContainer = document.createElement('div');
    editableContainer.classList.add('editable-question-container', 'flex-grow', 'relative');
    const input = document.createElement('input');
    input.type = 'text';
    input.classList.add('input', 'input-bordered', 'w-full');
    // input.id = 'questionText-' + questionIndex;
    input.id = id + questionIndex;
    input.onchange = function() {
      updateCheckboxValue(this);
    };
    input.onkeydown = preventEnterKey;

    // Append the elements
    editableContainer.appendChild(input);
    newRow.appendChild(checkbox);
    newRow.appendChild(editableContainer);

    questionIndex++;

    // Append the new row to the list
    document.getElementById(list).appendChild(newRow);
  }

  function preventEnterKey(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
    }
  }
</script>
<div th:replace="~{components/footer :: footer}"></div>
<div th:replace="~{components/session-timeout-script :: session-timeout-script}"></div>
</body>
</html>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="programPreReqs">
  <div class="form-control">
    <div class="label">
      <span class="label-text font-bold text-lg">Pre-requisite Courses</span>
    </div>
    <ul class="list space-y-2">
      <li class="text-lg font-bold">Add Pre-reqs</li>
      <li class="list-row">
        <div class="space-y-2" id="preReqList">
        </div>
      </li>
    </ul>
    <!-- "Add Question" Button -->
    <div class="mt-4">
      <button type="button" class="btn btn-accent btn-square btn-sm" onclick="addRow('selectedPrereqs', 'prereqText-', 'preReqList')">+</button>
    </div>
  </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="programQuestionnaire">
  <div class="form-control">
    <div class="label">
      <span class="label-text font-bold text-lg">Questionnaire</span>
    </div>
    <ul class="list space-y-2">
      <li class="text-lg font-bold">Select Questions</li>
      <li class="list-row">
        <div class="space-y-2" id="questionList">
          <div th:each="question, iterStat : ${defaultQuestions}"
               class="flex items-center p-2 hover:bg-base-200 rounded-lg group">
            <input type="checkbox"
                   class="checkbox checkbox-primary mr-2"
                   name="selectedQuestions"
                   th:value="${question}"
                   th:id="${'checkbox-' + iterStat.index}"
                   checked/>
            <div class="editable-question-container flex-grow relative">
              <input type="text"
                     class="input input-bordered w-full"
                     th:value="${question}"
                     th:id="${'questionText-' + iterStat.index}"
                     onkeydown="preventEnterKey(event)"
                     onchange="updateCheckboxValue(this)"/>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- "Add Question" Button -->
    <div class="mt-4">
      <button type="button" class="btn btn-accent btn-square btn-sm" onclick="addRow('selectedQuestions', 'questionText-', 'questionList')">+</button>
    </div>
  </div>
</div>