<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page" th:data-theme="${user.theme.name.toLowerCase}">
<head th:replace="~{components/head :: head('Admin Dashboard')}"></head>
<body>
<div th:replace="~{components/admin-navbar :: admin-navbar(${user.displayName}, ${isAdmin})}"></div>
<div class="bg-base-100 flex flex-col items-center mx-auto min-h-screen m-10 lg:w-2/5 md:w-3/5 sm:w-full gap-5">
    <div class="fixed bottom-0 right-0 w-1/4 z-50 m-8">
        <div th:replace="~{components/alerts :: alerts(${alerts})}"></div>
    </div>
    <div class="card bg-base-200 w-full">
        <div class="card-body gap-4">
            <h1 class="card-title text-center" th:text="'Welcome, ' + ${user.displayName}"></h1>
            <p class="text-center">
                Oversee study abroad programs or create a new program directly from the admin dashboard.
                You can review student applications by navigating to a specific program.
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Browse Programs Section -->
                <div class="card card-normal bg-base-300">
                    <div class="card-body">
                        <h2 class="card-title">Browse Programs</h2>
                        <p class="text-sm">
                            View all programs and edit their details.
                        </p>
                        <a href="/admin/programs" class="btn btn-primary btn-sm">
                            Browse Programs
                        </a>
                    </div>
                </div>
                <!-- Create Program Section -->
                <div class="card card-normal bg-base-300">
                    <div class="card-body">
                        <h2 class="card-title">Create Program</h2>
                        <p class="text-sm">
                            Create a new study abroad program for students to apply to.
                        </p>
                        <a href="/admin/programs/new" class="btn btn-primary btn-sm">
                            Create Program
                        </a>
                    </div>
                </div>
                <!-- Rebrand Website UI Section -->
                <div th:if="${isHeadAdmin}" class="card card-normal bg-base-300 md:col-span-2 md:mx-auto md:w-1/2">
                    <div class="card-body">
                        <h2 class="card-title">Rebrand UI</h2>
                        <p class="text-sm">
                            Change the theme and branding of the website to match your institution's identity.
                        </p>
                        <a href="/admin/brand/edit" class="btn btn-primary btn-sm">
                            Rebrand UI
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/footer :: footer}"></div>
<div th:replace="~{components/session-timeout-script :: session-timeout-script}"></div>
</body>
</html>
