<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(name, alerts, formatter)"
      th:data-theme="${user.theme.name.toLowerCase}">
<head th:replace="~{components/head :: head('Admin Programs')}"></head>
<style>
  /* Initially hide eligible columns */
  .count-col {
    display: none;
  }

  .date-col {
    display: none;
  }

  /* Use :has() to display eligible columns when the checkbox is checked */
  .card-body:has(#toggleCount:checked) .count-col {
    display: table-cell;
  }

  .card-body:has(#toggleDate:checked) .date-col {
    display: table-cell;
  }
  .program-row {
    display: table-row;
  }
  .faculty-program-row {
    display: table-row;
  }
  .card-body:has(#toggleFacultyPrograms:checked) .program-row {
    display: none;
  }
</style>
<body>
<div th:replace="~{components/admin-navbar :: admin-navbar(${name}, ${isAdmin})}"></div>
<div class="bg-base-100 flex flex-col items-center min-h-screen m-10 gap-5">
  <div class="fixed bottom-0 right-0 w-1/4 z-50 m-8">
    <div th:replace="~{components/alerts :: alerts(${alerts})}"></div>
  </div>
  <div class="card card-normal w-full bg-base-200">
    <div class="card-body gap-8">
      <div class="flex justify-between items-center">
        <h1 class="card-title">All Programs</h1>
        <a class="btn btn-primary" href="/admin/programs/new">Add Program</a>
      </div>

      <!-- Filters & Checkboxes Section -->
      <div class="flex flex-wrap items-center gap-6">
        <!-- Filter Form -->
        <div th:replace="~{this :: filterForm('/admin/programs/table')}"></div>

        <!-- Right-aligned Checkboxes -->
        <div class="ml-auto grid grid-cols-2 gap-4 w-64">
          <fieldset class="flex items-center gap-2">
            <input type="checkbox" id="toggleCount" class="toggle peer">
            <span class="text-sm">Show Program Counts</span>
          </fieldset>
          <fieldset class="flex items-center gap-2">
            <input type="checkbox" id="toggleDate" class="toggle peer" checked>
            <span class="text-sm">Show Program Dates</span>
          </fieldset>
          <fieldset class="flex items-center gap-2 col-span-2" th:if="${#lists.size(facultyPrograms) > 0}">
            <input type="checkbox" id="toggleFacultyPrograms" class="toggle peer">
            <span class="text-sm">Show Only Your Programs</span>
          </fieldset>
        </div>
      </div>

      <div class="table-wrapper overflow-x-auto">
        <!-- Add fragment identifier to the table -->
        <div th:replace="~{this :: programTable(sort)}"></div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{components/footer :: footer}"></div>
<div th:replace="~{components/session-timeout-script :: session-timeout-script}"></div>
</body>
</html>

<table class="table w-full" th:fragment="programTable(sort)" id="programTable">
  <thead>
  <tr>
    <th th:replace="~{this :: sortableHeader('Title', 'TITLE', '')}"></th>
    <th th:replace="~{this :: sortableHeader('Term', 'SEM_DATE', '')}"></th>
    <th th:replace="~{this :: sortableHeader('Faculty Lead', 'FACULTY_LEAD', '')}"></th>
    <th th:replace="~{this :: sortableHeader('App Opens', 'APP_OPENS', 'date-col')}"></th>
    <th th:replace="~{this :: sortableHeader('App Closes', 'APP_CLOSES', 'date-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Documents Due', 'ESSENTIAL_DOCS', 'date-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Start Date', 'START_DATE', 'date-col')}"></th>
    <th th:replace="~{this :: sortableHeader('End Date', 'END_DATE', 'date-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Applied', 'APPLIED', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Eligible', 'ELIGIBLE', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Approved', 'APPROVED', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Enrolled', 'ENROLLED', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Canceled', 'CANCELED', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Withdrawn', 'WITHDRAWN', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Completed', 'COMPLETED', 'count-col')}"></th>
    <th th:replace="~{this :: sortableHeader('Total Active', 'TOTAL_ACTIVE', 'count-col')}"></th>
  </tr>
  </thead>
  <tbody th:fragment="programTableBody" id="programTableBody">
  <tr th:each="programAndStatus : ${programAndStatuses}" class="border-base-300 border-y-2"
      th:classappend="${facultyPrograms.contains(programAndStatus.program)} ? 'faculty-program-row' : 'program-row'">
    <td>
      <a th:href="@{/admin/programs/{programId}(programId=${programAndStatus.program.id})}"
         class="link link-primary"
         th:text="${programAndStatus.program.title}"></a>
    </td>
    <td th:text="${formatter.formatTerm(programAndStatus.program.semester, programAndStatus.program.year)}"></td>
    <td th:text="${formatter.formatFacultyLeads(programAndStatus.facultyLeads)}"></td>
    <td class="date-col" th:text="${formatter.formatLocalDate(programAndStatus.program.applicationOpen)}"></td>
    <td class="date-col" th:text="${formatter.formatLocalDate(programAndStatus.program.applicationClose)}"></td>
    <td class="date-col" th:text="${formatter.formatLocalDate(programAndStatus.program.documentDeadline)}"></td>
    <td class="date-col" th:text="${formatter.formatLocalDate(programAndStatus.program.startDate)}"></td>
    <td class="date-col" th:text="${formatter.formatLocalDate(programAndStatus.program.endDate)}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.applied}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.eligible}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.approved}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.enrolled}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.canceled}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.withdrawn}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.completed}"></td>
    <td class="count-col text-center" th:text="${programAndStatus.totalActive}"></td>
  </tr>
  </tbody>
  <div hx-swap-oob="true" id="filterSortParams">
    <input type="hidden" name="sort" th:value="${sort}"/>
    <input type="hidden" name="ascending" th:value="${ascending}"/>
  </div>

</table>

<div xmlns:th="http://www.thymeleaf.org"
      th:fragment="filterForm(path)"
      id="filterForm">
  <div class="flex gap-4 ">
    <!-- Container for sort parameters -->
    <div id="filterSortParams">
      <input type="hidden" name="sort" th:value="${sort}"/>
      <input type="hidden" name="ascending" th:value="${ascending}"/>
    </div>
    <!-- Keyword search Title -->
    <div class="flex flex-row gap-4">
      <span class="text-lg">Filters:</span>
      <label>
        <input type="text"
               name="nameFilter"
               placeholder="Search programs..."
               class="input"
               th:value="${keyword}"
               th:hx-get="@{${path}}"
               hx-trigger="input delay:300ms"
               hx-include="#filterForm"
               autocomplete="off"
               hx-target="#programTable"
               hx-swap="outerHTML"/>
      </label>
      <!-- Keyword search Faculty Lead -->
      <label>
        <div class="tooltip" data-tip="Hold Ctrl / ⌘ (Cmd) to select multiple">
        <select name="leadFilter" multiple
                class="select"
                size="4"
                th:value="${leadKeyword}"
                th:hx-get="@{${path}}"
                hx-trigger="change"
                hx-include="#filterForm"
                autocomplete="off"
                hx-target="#programTable"
                hx-swap="outerHTML">
          <option th:each="lead : ${knownFacultyLeads}" th:value="${lead.username}"
                  th:text="${formatter.displayUser(lead)}"></option>
        </select>
        </div>
      </label>
      <!-- Time filter -->
      <label>
        <select name="timeFilter"
                class="select"
                th:value="${timeFilter}"
                th:hx-get="@{${path}}"
                hx-trigger="change"
                hx-include="#filterForm"
                autocomplete="off"
                hx-target="#programTable"
                hx-swap="outerHTML">
          <option value="FUTURE" th:selected="${timeFilter == 'FUTURE'}">Current & Future Programs
          </option>
          <option value="OPEN" th:selected="${timeFilter == 'OPEN'}">Programs Open to Applications
          </option>
          <option value="REVIEW" th:selected="${timeFilter == 'REVIEW'}">Programs in Review</option>
          <option value="RUNNING" th:selected="${timeFilter == 'RUNNING'}">Programs Running Now
          </option>
          <option value="ALL" th:selected="${timeFilter == 'ALL'}">All Programs</option>
        </select>
      </label>
    </div>
  </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="sortableHeader(label, column, class)">
  <th th:with="isSorted=${sort == column || (sort == 'sort' && column == 'TITLE')}"
      th:class="${isSorted ? class + ' bg-base-300 cursor-pointer' : class + ' bg-base-200 cursor-pointer'}"
      th:hx-get="@{'/admin/programs/table'(sort=${column}, ascending=${!ascending}, nameFilter=${nameFilter}, leadFilter=${leadFilter}, timeFilter=${timeFilter})}"
      hx-target="#programTable"
      hx-swap="outerHTML">
    <div class="flex items-center gap-2">
      <span th:if="${isSorted}" th:text="${ascending} ? '▼' : '▲'"></span>
      <span th:text="${label}"></span>
    </div>
  </th>
</div>
<div th:fragment="emptyFragment"></div>



