<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(program, applicants, user, formatter)">

<head th:replace="~{components :: head(${program.title})}"></head>

<body>
<div th:replace="~{components :: admin-navbar(${user.displayName})}"></div>
<div class="bg-base-100 flex flex-col items-center justify-center min-h-screen m-10 gap-5">
  <div th:replace="~{components :: alerts(${alerts})}"></div>
  <div class="card card-normal w-full bg-base-200">
    <div class="card-body gap-10">
      <div class="flex flex-col gap-5">
        <h1 class="card-title" th:text="${program.title}"></h1>
        <p th:text="${program.description}"></p>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-lg">Program Details</h2>
        <table class="table table-sm border-collapse">
          <tbody>
          <tr class="border-base-300">
            <td>Faculty Lead</td>
            <td th:text="${program.facultyLead}"></td>
          </tr>
          <tr class="border-base-300">
            <td>Term</td>
            <td th:text="${formatter.formatSemester(program.semester)} + ' ' + ${formatter.formatYear(program.year)}"></td>
          </tr>
          <tr class="border-base-300">
            <td>Start Date</td>
            <td th:text="${formatter.formatLocalDate(program.startDate)}"></td>
          </tr>
          <tr class="border-base-300">
            <td>End Date</td>
            <td th:text="${formatter.formatLocalDate(program.endDate)}"></td>
          </tr>
          <tr class="border-base-300">
            <td>Application Open</td>
            <td th:text="${formatter.formatInstant(program.applicationOpen)}"></td>
          </tr>
          <tr class="border-base-300">
            <td>Application Deadline</td>
            <td th:text="${formatter.formatInstant(program.applicationClose)}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div th:replace="~{this :: applicant-table(${applicants}, ${program}, ${formatter}, NONE, NONE)}"></div>
      </div>
      <div class="card-actions">
        <a class="btn btn-primary w-1/4" th:href="@{/admin/programs/{programId}/edit(programId=${program.id})}">Edit</a>
        <button class="btn btn-secondary w-1/4" onclick="delete_modal.showModal()">Delete</button>
        <dialog id="delete_modal" class="modal">
          <div class="modal-box">
            <div class="alert alert-error"
                 th:if="${applicants.size() > 0}"
                 th:text="'This program has ' + ${applicants.size()} + ' applicants. Deleting this program will delete the data of all these applicants. This action cannot be undone.'">
            </div>
            <div th:unless="${applicants.size() > 0}">Are you sure you want to delete this program?</div>
            <div class="modal-action gap-2">
              <form method="dialog" class="contents">
                <button class="btn btn-primary w-1/4">Cancel</button>
              </form>
              <form th:action="@{/admin/programs/{programId}/delete(programId=${program.id})}" method="post"
                    class="contents">
                <button class="btn btn-secondary w-1/4" type="submit">Delete</button>
              </form>
            </div>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{components :: footer}"></div>
</body>

</html>

<div
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="applicant-table(applicants, program, formatter, sortColumn, sortFilter)"
    id="applicant-table"
    class="flex flex-col gap-5">
  <div class="flex flex-row gap-6 items-center">
      <h2 class="text-lg">Applicants</h2>
      <button class="contents"
              th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column=${sortColumn}, filter='NONE')}"
              hx-swap="outerHTML"
              hx-target="#applicant-table">
        <span th:class="${sortFilter == 'NONE'} ? 'badge badge-neutral' : 'badge badge-neutral badge-outline'">
          ALL
        </span>
      </button>
      <button class="contents"
              th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column=${sortColumn}, filter='APPLIED')}"
              hx-swap="outerHTML"
              hx-target="#applicant-table">
        <span th:class="${sortFilter == 'APPLIED'} ? 'badge badge-info' : 'badge badge-info badge-outline'">
          APPLIED
        </span>
      </button>
      <button class="contents"
              th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column=${sortColumn}, filter='ENROLLED')}"
              hx-swap="outerHTML"
              hx-target="#applicant-table">
        <span th:class="${sortFilter == 'ENROLLED'} ? 'badge badge-success' : 'badge badge-success badge-outline'">
          ENROLLED
        </span>
      </button>
      <button class="contents"
              th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column=${sortColumn}, filter='WITHDRAWN')}"
              hx-swap="outerHTML"
              hx-target="#applicant-table">
        <span th:class="${sortFilter == 'WITHDRAWN'} ? 'badge badge-warning' : 'badge badge-warning badge-outline'">
          WITHDRAWN
        </span>
      </button>
      <button class="contents"
              th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column=${sortColumn}, filter='CANCELLED')}"
              hx-swap="outerHTML"
              hx-target="#applicant-table">
        <span th:class="${sortFilter == 'CANCELLED'} ? 'badge badge-error' : 'badge badge-error badge-outline'">
          CANCELLED
        </span>
      </button>
    </div>
  <table
      class="table table-sm border-collapse">
    <thead>
    <tr class="border-base-300">
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='DISPLAY_NAME', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'DISPLAY_NAME' ? '▼ name' : 'name'}"
        ></button>
      </th>
      </th>
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='USERNAME', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'USERNAME' ? '▼ username' : 'username'}"
        ></button>
      </th>
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='EMAIL', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'EMAIL' ? '▼ email' : 'email'}"
        ></button>
      </th>
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='MAJOR', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'MAJOR' ? '▼ major' : 'major'}"
        ></button>
      </th>
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='GPA', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'GPA' ? '▼ gpa' : 'gpa'}"
        ></button>
      </th>
      <th>
        <button
            th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='DOB', filter=${sortFilter})}"
            hx-swap="outerHTML"
            hx-target="#applicant-table"
            class="contents"
            th:text="${sortColumn == 'DOB' ? '▼ date of birth' : 'date of birth'}"
        ></button>
      </th>
      <th>
      <button
          th:hx-get="@{/admin/programs/{programId}/applicants?column={column}&filter={filter}(programId=${program.id}, column='STATUS', filter=${sortFilter})}"
          hx-swap="outerHTML"
          hx-target="#applicant-table"
          class="contents"
          th:text="${sortColumn == 'STATUS' ? '▼ status' : 'status'}"
      ></button>
      </th>
      <th>update</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="applicant : ${applicants}" class="border-base-300">
        <td>
          <a class="link link-primary"
              th:href="@{/admin/applications/{applicationId}(applicationId=${applicant.applicationId})}"
              th:text="${applicant.displayName}"></a>
        </td>
        <td th:text="${applicant.username}"></td>
        <td th:text="${applicant.email}"></td>
        <td th:text="${applicant.major}"></td>
        <td th:text="${#numbers.formatDecimal(applicant.gpa, 1, 3)}"></td>
        <td th:text="${formatter.formatLocalDate(applicant.dob)}"></td>
        <td>
          <div th:id="'status-badge-' + ${applicant.username}">
            <div th:replace="~{components :: statusBadge(${applicant.status.name()})}"></div>
          </div>
        </td>
        <td>
          <form class="contents"
                th:hx-post="@{/admin/applications/{applicationId}/status(applicationId=${applicant.applicationId})}"
                hx-trigger="change"
                th:hx-target="'#status-badge-' + ${applicant.username}">
            <select name="status" class="select select-sm">
              <option value="APPLIED" th:selected="${applicant.status.name() == 'APPLIED'}">Applied</option>
              <option value="ENROLLED" th:selected="${applicant.status.name() == 'ENROLLED'}">Enrolled</option>
              <option value="CANCELLED" th:selected="${applicant.status.name() == 'CANCELLED'}">Cancelled</option>
              <option value="WITHDRAWN" th:selected="${applicant.status.name() == 'WITHDRAWN'}">Withdrawn</option>
            </select>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
