
<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="footer bg-base-200 p-20">
  <h1 class="footer-title">Brought to you by Abhishek Chataut, Arnav Nayak, Delali Cudjoe, and Joseph Oluwagbotemi</h1>
</div>



<head xmlns:th="http://www.thymeleaf.org" th:fragment="head(title)">
  <title th:text="${title}"></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet"/>
</head>


<div xmlns:th="http://www.thymeleaf.org" th:fragment="alerts(alerts)" class="contents">
  <div th:if="${alerts.error.isPresent()}" th:text="${alerts.error.get()}" class="alert alert-error w-1/2 m-4"></div>
  <div th:if="${alerts.success.isPresent()}" th:text="${alerts.success.get()}" class="alert alert-success w-1/2 m-4"></div>
  <div th:if="${alerts.warning.isPresent()}" th:text="${alerts.warning.get()}" class="alert alert-warning w-1/2 m-4"></div>
  <div th:if="${alerts.info.isPresent()}" th:text="${alerts.info.get()}" class="alert alert-info w-1/2 m-4"></div>
</div>



<div xmlns:th="http://www.thymeleaf.org" th:fragment="navbar(title, name)" class="bg-base-100">
  <div class="flex flex-row justify-between">
    <div class="navbar">
      <a th:text="${title}" class="btn btn-ghost text-xl"></a>
      <a href="/" class="btn btn-ghost">Hello</a>
      <a href="/hello" class="btn btn-ghost">Hello with HTMX</a>
      <a href="/students" class="btn btn-ghost">Students</a>
    </div>
    <span th:text="'Welcome ' + ${name}" class="btn btn-ghost"></span>
  </div>
</div>


<div xmlns:th="http://www.thymeleaf.org" th:fragment="statusBadge(status)" th:switch="${status}" class="contents">
  <span th:case="APPLIED" class="badge badge-info">Applied</span>
  <span th:case="ENROLLED" class="badge badge-success">Enrolled</span>
  <span th:case="CANCELLED" class="badge badge-error">Cancelled</span>
  <span th:case="WITHDRAWN" class="badge badge-warning">Withdrawn</span>
  <span th:case="NOT_APPLIED" class="badge badge-neutral">Not Applied</span>
</div>
