
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(title, message)">

<head th:replace="~{components :: head(${title})}"></head>


<body>
<div th:replace="~{components :: logged-out-navbar}"></div>
<div class="bg-base-100 flex flex-col items-center justify-center h-screen">
  <div class="card card-normal w-1/2 m-10 bg-base-200">
    <div class="card-body">
      <h1 class="card-title text-center">Error</h1>
      <p class="text-center" th:text="${message}"></p>
    </div>
  </div>
</div>
<div th:replace="~{components :: footer}"></div>
</body>

</html>