<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components :: head('Home')}"></head>
<body>
<div class="bg-base-100 flex flex-col items-center justify-center min-h-screen p-4">
  <div class="card bg-base-200 w-96 shadow-xl">
    <div class="card-body items-center text-center">
      <img src="/images/logo.jpeg" alt="HCC Logo" class="w-32 h-32 mb-4"/>
      <h1 class="text-3xl font-bold mb-2">Welcome to HCC</h1>
      <p th:if="${name}" th:text="'Hello, ' + ${name}"></p>
      <p class="text-xl mb-6">Study Abroad Logistics Management System</p>
    </div>
  </div>
</div>
<div th:replace="~{components :: footer}"></div>
</body>
</html>