<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page(name)">

<head th:replace="~{components :: head('Hello World')}"></head>
  <body>
    <div th:replace="~{components :: student-navbar('Hello World', unknown)}"></div>
    <div class="bg-base-100 flex flex-col items-center justify-center h-screen">
      <div th:replace="~{this :: hello-card(${name})}" ></div>
    </div>
    <div th:replace="~{components :: footer}"></div>
  </body>
</html>


<div xmlns:th="http://www.thymeleaf.org" th:fragment="hello-card(name)" class="bg-base-200 card card-normal w-1/2 m-10">
  <div class="card-body">
    <h1 class="card-title" th:text="'Hello ' + ${name}"></h1>
    <form class="contents" action="/" method="post">
      <input class="input" placeholder="Name" type="text" name="name"/>
      <div class="flex flex-row-reverse">
        <button class="btn btn-primary w-1/4">Submit</button>
      </div>
    </form>
  </div>
</div>





<html xmlns:th="http://www.thymeleaf.org" th:fragment="htmx-page(name)">
  <head th:replace="~{components :: head('Hello World')}"></head>
  <body>
    <div th:replace="~{components :: navbar('Hello World', unknown)}"></div>
    <div class="bg-base-100 flex flex-col items-center justify-center h-screen">
      <div th:replace="~{this :: htmx-hello-card(${name})}"></div>
    </div>
    <div th:replace="~{components :: footer}"></div>
  </body>
</html>


<div
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="htmx-hello-card(name)"
  class="bg-base-200 card card-normal w-1/2 m-10"
  id="hello-card">
  <div class="card-body">
    <h1 class="card-title" th:text="'Hello ' + ${name}"></h1>
    <form class="contents" hx-post="/hello" hx-target="#hello-card" hx-trigger="submit" hx-swap="outerHTML">
      <input class="input" placeholder="Name" type="text" name="name"/>
      <div class="flex flex-row-reverse">
        <button class="btn btn-primary w-1/4">Submit</button>
      </div>
    </form>
  </div>
</div>

