<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Hello World</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet"/>
</head>

<body>
<div th:insert="~{components/header :: header('Hello World')}"></div>
<div class="bg-base-100 flex flex-col items-center justify-center h-screen">
  <div class="bg-base-200 card card-normal w-1/2 m-10">
    <div class="card-body">
      <h1 class="card-title" th:text="'Hello ' + ${name}"></h1>
      <form class="contents" action="/" method="post">
        <input class="input" placeholder="Name" type="text" name="name"/>
        <div class="flex flex-row-reverse">
          <button class="btn btn-primary w-1/4">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:insert="~{components/footer :: footer}"></div>
</body>

</html>
